.dashboard-container {
  width: 60%;
  margin: 0 auto;
  margin-top: 15rem;
  background-color: #151515;
}

@media (max-width: 768px) {
  .dashboard-container {
    width: 90%;
    margin-top: 10rem;
  }
}
