.project-playground-container {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.tree-structure-wrapper {
  width: 350px;
  background-color: #2b2b2b;
  border-right: 1px solid #444;
  overflow-x: hidden;
}

.editor-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.editor-section {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.editor-buttons {
  height: fit-content;
  display: flex;
  padding: 4px;
  background-color: #1e1e1e;
  overflow-x: auto;
  overflow-y: hidden;
  border-bottom: 1px solid #444;
}

.terminal-wrapper {
  height: 100%;
  background-color: #1e1e1e;
  border-top: 1px solid #444;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}
