.project-playground-container {
  --focus-border: #007fd4;
  --separator-border: #cdcaca;
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.tree-structure-wrapper {
  height: 100%;
  width: 100%;
  background-color: #2b2b2b;
  overflow: hidden;
}

.right-pane-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.editor-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.editor-buttons {
  display: flex;
  background-color: #1e1e1e;
  border-bottom: 1px solid #444;
  overflow-x: auto;
}

.terminal-wrapper {
  height: 100%;
  width: 100%;
  background-color: #1e1e1e;
  border-top: 1px solid #444;
  display: flex;
  flex-direction: column;
}

.terminal-header {
  color: #ffffff;
  margin: 0;
  padding: 10px;
  background-color: #353333ff;
  display: flex;
  align-items: center;
  gap: 10px;
  opacity: 0.5;
}

.browser-wrapper {
  height: 100%;
  width: 100%;
  background-color: #282a35;
  display: flex;
  justify-content: center;
  align-items: center;
}
