.projectName {
  font-weight: 200;
  font-size: 1rem;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  padding: 20px;
}

.loadingMessage {
  display: block;
  margin-top: 30px;
  color: white;
  font-size: 1.3rem;
  text-align: center;
  animation: fadeUp 1s ease forwards;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
  }
}

.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
  transform: rotate(45deg);
}

.loader::before {
  content: "";
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  top: -24px;
  animation: animloader 4s ease infinite;
}

.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  background: linear-gradient(
    135deg,
    #ffc400,
    #ff9100,
    #f8682f,
    #e62c6d,
    #b25aff
  );
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  animation: animloader2 2s ease infinite;
}

@keyframes animloader {
  0% {
    box-shadow: 0 24px transparent, 24px 24px transparent, 24px 48px transparent,
      0px 48px transparent;
  }
  12% {
    box-shadow: 0 24px #ffc400, 24px 24px transparent, 24px 48px transparent,
      0px 48px transparent;
  }
  25% {
    box-shadow: 0 24px #ff9100, 24px 24px #ffc400, 24px 48px transparent,
      0px 48px transparent;
  }
  37% {
    box-shadow: 0 24px #f8682f, 24px 24px #ff9100, 24px 48px #ffc400,
      0px 48px transparent;
  }
  50% {
    box-shadow: 0 24px #e62c6d, 24px 24px #f8682f, 24px 48px #ff9100,
      0px 48px #ffc400;
  }
  62% {
    box-shadow: 0 24px transparent, 24px 24px #b25aff, 24px 48px #e62c6d,
      0px 48px #f8682f;
  }
  75% {
    box-shadow: 0 24px transparent, 24px 24px transparent, 24px 48px #b25aff,
      0px 48px #e62c6d;
  }
  87% {
    box-shadow: 0 24px transparent, 24px 24px transparent, 24px 48px transparent,
      0px 48px #b25aff;
  }
  100% {
    box-shadow: 0 24px transparent, 24px 24px transparent, 24px 48px transparent,
      0px 48px transparent;
  }
}

@keyframes animloader2 {
  0% {
    transform: translate(0, 0) rotateX(0) rotateY(0);
  }
  25% {
    transform: translate(100%, 0) rotateX(0) rotateY(180deg);
  }
  50% {
    transform: translate(100%, 100%) rotateX(-180deg) rotateY(180deg);
  }
  75% {
    transform: translate(0, 100%) rotateX(-180deg) rotateY(360deg);
  }
  100% {
    transform: translate(0, 0) rotateX(0) rotateY(360deg);
  }
}
