body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: white;
  background-color: #151515;
}
html {
  scroll-behavior: smooth;
}
:root {
  scroll-padding-top: 80px;
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background: transparent;
  border: 1px solid #444;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #444444;
  transition: all 1s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #626262;
  transition: all 1s ease;
}
